body{
    font-size: 16px;
}
label {
    text-align: right;
}

.row {
    margin-top: 10px;
    justify-content: center;
}

legend {
    text-align: center;
}

form {
    background-color: #EBEBED;
    border: 1px solid #000;
    padding: 15px;
    margin-top: 40px;
}

.caixaDeDados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.centraliza{
   display: flex;
   justify-content: center;
}

.divCadastro{
    margin: 0 auto;
    background-color: #C9C9C9;
    padding: 15px;
    margin: 10px 5px 0 0;
    border: #000 1px black;
    width: 45%;
}

[class  ^= "card-"]{
    background-color: #C9C9C9;
    padding: 15px;
    margin: 10px 5px 0 0;
    border: #000 1px black;
    width: 45%;
}

.cardGreen{
    background-color: green;
    color: white;
}
.cardYellow{
    border: #000 2px solid;
    background-color: yellow;
    color: black;
}








@media (max-width: 768px) {
    .caixaDeDados {
        display: block;
    }

    .card {
        width: 100%;
    }
}
